html
{
	scroll-behavior: auto !important; 
}

/*navbar*/
body
{
	padding: 0px !important;
	margin: 0px !important;
	font-family: Helvetica;
	background-color: #000000 !important;
	color: #ffffff;
}

/*navbar*/

.navbar
{
	position: fixed;
	width: 100vw;
	z-index: 1;
}

.navbar-brand
{
	font-size: 20px;
	font-weight: 700;
}

/*hero section*/

.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
}

.card-body
{
	background-color: #43BCCD !important;
	color: #ffffff !important;
}

.border-1
{
	color: #ffffff;
}


/*iconos*/
.card-header
{
	background-color: #43BCCD !important;
	color: #ffffff !important;
}


/*seccion sobre mi color, tipo e interlineado*/

#sobre_mi
{
	color: #373a3c;
	font-family: ¨Open Sans¨;
	line-height: 3;
}


/*seccion destacados*/


#destacados
{

}

#destacados h2
{
	font-size: 52px;
}

/*contacto*/

#contacto h1
{
	font-family: "Oswald";
	font-size: 52px;
}

/*contacto*/
#footer 
{
	background-color: #43BCCD;
}

#footer h1 
{
}

#footer a 
{
	color: #ffffff;
	text-decoration: none;
}

hr
{
	color: #43BCCD;
}

.zoom
{
	transition: .2s;
}

.zoom:hover
{
	transform: scale(1.05);
}
