html
{
	scroll-behavior: auto !important; 
}

body
{
	font-family: 'Courier New', Courier, monospace;
	padding: 0px !important;
	margin: 0px !important;
	font-family: Helvetica;
	background-color: #000000;
	color: #ffffff;
}

/*navbar*/

.navbar
{
	position: fixed;
	width: 100vw;
	z-index: 999;
}

.navbar-brand
{
	font-size: 20px;
	font-weight: 700;
}

/*hero section*/

.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
}

/*tarjetas*/

.card-body
{
	background-color: #43BCCD !important;
	color: #ffffff !important;
}

.border-1
{
	color: #ffffff;
}

/*iconos*/
.card-header
{
	background-color: #43BCCD !important;
	color: #ffffff !important;
}

/*seccion sobre mi color, tipo e interlineado*/

#destacados h2
{
	font-size: 52px;
}

/*contacto*/
#footer 
{
	background-color: #43BCCD;
}

#footer a 
{
	color: #ffffff;
	text-decoration: none;
}

#contactarnos
{
	background-color: #ffffff !important;
	color: #000000;	
}

span b
{
	text-decoration: none !important;
	color: #000000 !important;
}

hr
{
	color: #43BCCD;
}

/*efecto zoom para las tarjetas*/
.zoom
{
	transition: .2s;
}

.zoom:hover
{
	transform: scale(1.05);
}
